<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Treino A</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="treino-content">
  <div class="exercises-list">
    <div class="exercise-card" *ngFor="let exercise of exercises">
      <div class="exercise-image" [style.backgroundImage]="'url(' + exercise.image + ')'"></div>
      <div class="exercise-info">
        <h3>{{ exercise.name }}</h3>
        <div class="sets-badge">
          <ion-icon name="repeat-outline"></ion-icon>
          <span>{{ exercise.sets }}</span>
        </div>
      </div>
      <div class="exercise-action">
        <ion-checkbox color="warning"></ion-checkbox>
      </div>
    </div>
  </div>
</ion-content>
